@font-face {
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 700;
    src: local('Pragmatica'),
    url("../fonts/Pragmatica-ExtraBold.ttf") format('ttf');
}

@font-face {
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 400;
    src: local('Pragmatica'),
    url("../fonts/Pragmatica-ExtraLightOblique.ttf") format('ttf');
}

@font-face {
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 500;
    src: local('Pragmatica'),
    url("../fonts/Pragmatica-Medium.ttf") format('ttf');
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Pragmatica', 'Arial', sans-serif;
    font-weight: 500;
    color: #444B51;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
    }

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page__header {
    padding-top: 17px;
    padding-bottom: 13px;
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.user-list {
    display: flex;
    grid-gap: 70px;
    align-self: center;
}

.user-list__item--number {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.user-list__item--number::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 16px;
    background-image: url('../img/call-icon.svg');
    background-repeat: no-repeat;
    left: -20px;
    top: 3px;
}

.user-list__item--language {
    position: relative;
    color: #828282;
}

.user-list__item--language::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../img/earth-icon.svg');
    background-repeat: no-repeat;
    left: -30px;
    top: -3px;
}

.btn--sign-up {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    padding: 12px 24px;
    color: #FFFFFF;
    background: #E24329;
    border-radius: 21px;
}

.intro {
    background: /* url(../img/bonik-delivery-img.png) 75% 10% no-repeat,  */
    #E24329;
    border-radius: 0px 0px 50px 50px;
    margin-bottom: 177px;
}

.section__title {
    margin: 0;
    font-size: 40px;
    line-height: 120%;
}

.section__descr {
    font-size: 18px;
    line-height: 26px;
}

.intro__info {
    color: #FFFFFF;
    max-width: 730px;
    padding-top: 136px;
}

.intro__title {
    font-size: 48px;
    line-height: 68px;
    margin-bottom: 30px;
}

.intro__descr {
    max-width: 615px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 60px;
}

.intro__form input {
    max-width: 570px;
    width: 100%;
    padding: 20px 170px 20px 40px;
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    border-radius: 30px;
}

.intro__form input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #BABABA;
}

.intro__form {
    position: relative;
    margin-bottom: 200px;
}

.intro__form button {
    position: absolute;
    transform: translateX(-100%);
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 22px 31px;
    background: #FF6A00;
    border: none;
    border-radius: 0px 30px 30px 0px;
}

.intro__container {
    display: flex;
}

.intro__img {
    position: absolute;
    top: 170px;
    transform: translateX(95%)
}

.features {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}

.features-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 30px;
}

.features-list__item {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: bottom;
    max-width: 270px;
    font-size: 14px;
    line-height: 24px;
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1), 0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407), 0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
    border-radius: 16px;
    padding: 26px 10px 26px 90px;
}

.features-list__item::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 20px;
    top: 0;
    transform: translateY(25%);
    background-image: url('../img/pick-n-drop-icon.svg');
}

.features-list__item--cash::before {
    background-image: url('../img/cash-on-delivery-icon.svg');
}

.features-list__item--hub::before {
    background-image: url('../img/delivery-hub-icon.svg');
}

.features-list__item--corporate::before {
    background-image: url('../img/sme-n-corporate-icon.svg');
}

.features-list__item-title {
    margin: 0;
}

.booking {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
}

.reasons {
    margin-bottom: 120px;
}

.reasons__info {
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
}

.reasons-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-gap: 30px;
}

.reasons-list__item {
    position: relative;
    max-width: 370px;
    padding: 140px 48px 25px 48px;
    text-align: center;
    background: #FFF3EB;
    border-radius: 16px;
}

.reasons-list__item::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 72px;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 40%);
    background-image: url('../img/tech.svg');
    background-repeat: no-repeat;
}

.reasons-list__item--coverage {
    background: #ECEDFF;
}

.reasons-list__item--coverage::before {
    background-image: url('../img/coverage.svg');
    width: 91px;
}

.reasons-list__item--delivery {
    background: #FFECF1;
}

.reasons-list__item--delivery::before {
    background-image: url('../img/delivery.svg');
    width: 111px;
}

.reasons-list__item--payment {
    background: #F7F7F7;
}

.reasons-list__item--payment::before {
    background-image: url('../img/payment.svg');
    width: 71px;
}

.reasons-list__item--rates {
    background: #FFFAEC;
}

.reasons-list__item--rates::before {
    background-image: url('../img/rates.svg');
    width: 92px;
}

.reasons-list__item--handling {
    background: #FFF3EB;
}

.reasons-list__item--handling::before {
    background-image: url('../img/handling.svg');
    width: 63px;
}

.reasons-list__item--insurance {
    background: #EEFFF3;
}

.reasons-list__item--insurance::before {
    background-image: url('../img/insurance.svg');
}

.reasons-list__item--products {
    background: #FFECF1;
}

.reasons-list__item--products::before {
    background-image: url('../img/products.svg');
}

.reasons-list__item--monitoring {
    background: #ECEDFF;
}

.reasons-list__item--monitoring::before {
    background-image: url('../img/monitoring.svg');
}

.reasons-list__item-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 15px;
}

.reasons-list__item-descr {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.application {
    margin-bottom: 130px;
}

.application__container {
    display: flex;
    flex-wrap: wrap;
}

.application__info {
    position: relative;
    max-width: 472px;
    margin-top: 145px;
}

.application__descr {
    margin-bottom: 28px;
}

.application__img {
    margin-right: 15px;
}

.btn {
    display: inline-block;
}

.application .btn {
    background: #E24329;
    border-radius: 25px;
    font-size: 18px;
    line-height: 110%;
    color: #FFFFFF;
    font-weight: 700;
    padding: 15px 40px;
}

.questions {
    margin-bottom: 120px;
}

.questions__info {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 65px;
}

.question__title {
    margin-bottom: 15px;
}

.questions__descr {
    margin: 0 auto; 
    max-width: 615px;
}

.questions-list__item {
    position: relative;
    max-width: 870px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 30px;
}

.questions-list__item-question {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 70px;
}

.questions-list__item-answer {
    max-width: 800px;
    font-size: 16px;
    line-height: 26px;
    margin-left: auto;
    margin-bottom: 17px;
}

.checkbox-indicator {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('../img/carbon_add-filled.svg');
    top: 0;
    left: 10px;
}

#bonik-delivery-answer,
#services-delivery-answer,
#coverage-delivery-answer,
#charges-delivery-answer,
#meaning-delivery-answer {
    display: none;
}

#bonik-delivery-question:checked ~ .questions-list #bonik-delivery-answer,
#services-delivery-question:checked ~ .questions-list #services-delivery-answer,
#coverage-delivery-question:checked ~ .questions-list #coverage-delivery-answer,
#charges-delivery-question:checked ~ .questions-list #charges-delivery-answer,
#meaning-delivery-question:checked ~ .questions-list #meaning-delivery-answer {
    display: block;
}

.questions-list {
    max-width: 870px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 47px;
}

.questions__wrapper {
    display: block;
    text-align: center;
}

.questions__wrapper .btn {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #E24329;
}

.questions__wrapper .btn::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 5px;
    right: -25px;
    background-image: url('../img/red-arrow.svg');
    background-repeat: no-repeat;
}

.clients {
    margin-bottom: 120px;
}

.clients-list {
    display: flex;
    grid-gap: 75px;
}

.clients__title {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials {
    margin-bottom: 120px;
}

.testimonials__info {
    margin: 0 auto;
    text-align: center;
    max-width: 717px;
    margin-bottom: 50px;
}

.testimonials__descr {
    margin: 0 auto;
    max-width: 615px;
}

.testimonials__title {
    margin-bottom: 15px;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 80px;
}

.testimonial__info {
    max-width: 470px;
    position: relative;
    padding-top: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.testimonial__info::before {
    position: absolute;
    content: "";
    top: 20px;
    left: -3px;
    width: 81px;
    height: 60px;
    background-image: url('../img/testimon-decor.svg');
    background-repeat: no-repeat;
}

.testimonial__info::after {
    position: absolute;
    content: "";
    top: 120px;
    left: -3px;
    width: 140px;
    height: 20px;
    background-image: url('../img/rating.svg');
}

.testimonial__descr {
    margin-bottom: 40px;
}

.testimonial__author {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #E24329;
    margin-bottom: 5px;
}

.testimonial__author-profession {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
}

.registration {
    margin-bottom: 120px;
}

.registration__container {
    text-align: center;
    max-width: 967px;
    background:rgba(226, 66, 41, 0.1) url('../img/registr-dec.svg') no-repeat 0 0;
    border: 1px solid #FCECEA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 67px 0;
}

.registration__title {
    font-size: 40px;
    line-height: 54px;
}

.registration__descr {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}

.registration .btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #E24329;
    padding: 25px 88px 20px 88px;
    background: #FFFFFF;
    box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1), 0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407), 0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
    border-radius: 25px;
    border: none;
}

.tips-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 370px);
    grid-template-rows: 600px;
    grid-gap: 30px;
    color: #666666;
}

.tips-list__wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.tips-list__item-img {
    margin-bottom: 20px;
}

.tips-list__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.tips-list__item-descr {
    position: relative;
    display: block;
    max-height: 90px;
    overflow: hidden;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
}


.tips-list__item {
    position: relative;
    overflow: hidden;
}

.learn-btn {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #29DBCC;
}

.learn-btn svg {
    position: relative;
    top: 3px;
    left: 15px;
}

.tips__title {
    margin: 0 auto;
    max-width: 740px;
    text-align: center;
    margin-bottom: 40px;
}

.tips-list__item-descr:before {
    content: '…';
    position: absolute;
    right: 0;
    bottom: 0;
}
  
.tips-list__item-descr:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.tips {
    margin-bottom: 205px;
}

.app {
    background: #FEF8E9;
    margin-bottom: 120px;
}

.app__info {
    max-width: 615px;
    padding-top: 85px;
}

.app__descr  {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
}

.benefits-list__item {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.benefit-number {
    position: relative;
    padding-left: 15px;
    margin-right: 35px;
    line-height: 110%;
    color: #FFFFFF;
    z-index: 15;
}

.benefit-number::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: -78%;
    left: 0px;
    border-radius: 50%;
    background: #E24329;
    z-index: -1;
} 

.benefits-list  {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    margin-bottom: 55px;
}

.markets-list {
    display: flex;
    grid-gap: 30px;
}

.markets-list__item {
    position: relative;
    max-width: 170px;
    width: 100%;
    padding: 10px 0px;     
    padding-left: 55px;
    border: 2px solid #203A59;
    border-radius: 16px;
}

.markets-list__item::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 32px;
    top: 16px;
    left: 15px;
    background-image: url('../img/app-store.svg');
    background-repeat:  no-repeat;
}

.markets-list__item--google::before {
    background-image: url('../img/google-play.svg');
}

.markets-list__item-descr {
    font-family: Inter;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #203A59;
    margin: 0;
}

.markets-list__item-descr b {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.app__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app__img {
    padding-top: 50px;
}

.app__img img {
    width: 100%;
}

.page__footer {
    background: #FFF2EF;
    padding-top: 75px;
}

.footer__container {
    display: flex;
    grid-gap: 110px;
    max-width: 900px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    grid-gap: 27px;
}

.page__footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}


.footer__adress {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
}

.footer__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 37px;
}

.footer-list__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.copyright {
    background: #E24329;
}

.copyright__descr {
    margin: 0 auto;
    padding: 13px 0;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn--sign-up:hover,
.btn--sign-up:focus,
.btn--sign-up:active,
.btn:hover,
.btn:focus,
.btn:active {
    background: #203A59;
    transition: .5s;
}

.questions__wrapper .btn:hover,
.questions__wrapper .btn:focus,
.questions__wrapper .btn:active,
.learn-btn:hover,
.learn-btn:focus,
.learn-btn:active {
    text-decoration: underline;
    background: none;
}

.footer-list__link:hover,
.footer-list__link:active,
.footer-list__link:focus {
    color: #E24329;
    transition: .5s;
}